* {
  padding: 0;
  margin: 0;
}
header {
  margin-top: 50px;
}
p {
  font-size: 16px;
}
/* 
#logo {
} */

#search-bar {
  width: 40%;
}
#search-btn {
  position: absolute;
}
/* #book-title {
} */
#author-name {
  color: #707070;
  margin-top: -20px;
}
#book-descripton {
  margin-top: -20px;
}
