* {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url("../images/sakura.png"); */
  background-position: center;
  background-size: cover;
  /* height: 200px;  */
  background-repeat:repeat;
}

p, a{
  font-size: 14px;
}

a{
  color: black!important;
}

#search-bar {
  width: 40%;
}
#search-btn {
  position: absolute;
  background-color: #ec3b50 ;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

/* ui Kit force css */
h1,h2, h3, h4, h5, h6{
  font-weight:bold!important;
  }
  h1,h2, h3, h4, h5, h6, p, a{
    color: #666!important;
  }
.uk-card-default .uk-card-header {
  border-bottom: 1px solid transparent!important;
  }

  .individual-book-container {
    background-color: black;
    color: black;
    opacity: 0.8;
    padding: 5px;
  }
  #search-bar {
    color: #ec3b50;
  }
 .main-container{
   background-color: white;
   color: white;
 }
.book-info-container {
    background-color:  black;
    color: white;
    opacity: 0.8;
    padding: 10px;
  }
.ch-limit-100 {
  width: 200ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 85%;
}